doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='/prettify/prettify.css', type="text/css")
    link(rel='stylesheet', href='/stringgun.css')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css")
    script(type="text/javascript", src='/prettify/prettify.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');      
      ga('create', 'UA-12318449-10', 'auto');
      ga('send', 'pageview');
                
  body(class="index-page", onload="prettyPrint()")
    
    div(class="github-fork-ribbon-wrapper right")
      div(class="github-fork-ribbon")
        a(href="https://github.com/thomax/stringgun.io")
          = "Fork me on GitHub"

    #main-box
      h1= "Stringgun.io"
      h2= "It's not at database - it's a gun"
      ul.bullets
        li.bullet
          a(href="#wtf")= "WTF?"
        li.bullet
          a(href="#why")= "Yes, but why?"
        li.bullet
          a(href="#try")= "Ok, let me try!"
          
    hr        
    a(name="wtf")  
    .info
      h3= "WTF?"
      = "A fast, hassle free and moronically simple way to store and retrieve small chunks of text."
    
    hr        
    a(name="why")
    .info
      h3= "Yes, but why?"
      = "Sometimes a small, specialized tool is superior to a paunchy, swiss-army solution. Stringgun.io can be an app log in the cloud, a cheap ass chat backend or "
      a(href="http://www.youtube.com/watch?v=K2P86C-1x3o")= "something completely diffeent"
      = "."

    hr        
    a(name="try")
    .info
      h3= "Ok, let me try..."
      - var newCode = 'curl -XPOST \'' + serviceUrl + '/new\''
      - var newResult = '{\n  "getUrl":"'+serviceUrl+'/tarIxwwitle7srSPWv",\n  "postUrl":"'+serviceUrl+'/tarIxwwitle7srSPWv:tokTvDdBaQUcpM1EoL"\n}'
      
      div= "First, create your own target"
      pre(class="prettyprint, codebox")
        = newCode
      div= "result"
      pre(class="prettyprint, codebox")
        = newResult
          
      br
      - var postCode = 'curl -XPOST \'' + serviceUrl + '/tarIxwwitle7srSPWv:tokTvDdBaQUcpM1EoL\' -d \'string=First psot!!11!!!1!\''
      - var postResult = '{\n  "time":"1419261255182",\n  "string":"First psot!!11!!!1!"\n}'
      div= "Then, post a string to the target postUrl"
      pre(class="prettyprint, codebox")
        = postCode
      div= "result"
      pre(class="prettyprint, codebox")
        = postResult

      br
      - var getCode = 'curl -XGET \'' + serviceUrl + '/tarIxwwitle7srSPWv\''
      div= "Whenever you like, get what you've posted with the target getUrl"
      pre(class="prettyprint, codebox")
        = getCode
      div= "result"
      pre(class="prettyprint, codebox")
        = '[\n  {\n    "time":"1419261255182",\n    "string":"First psot!!11!!!1!"\n  },\n  {\n    "time":"1419261255183",\n    "string":"Next post"\n  }\n]'

      br
      div= "Set the request accept header field if you want the response to be html or plain text instead of json. Or simply add "
        span(class="inline-code")= "?type=html|plain|json"
        = " to the URL when you perform the get request."
        
    hr        
        
